@font-face {
  font-family: "BrandonBlack";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BrandonBlack/BrandonGrotesque-Black.eot");
  src: url("../fonts/BrandonBlack/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonBlack/BrandonGrotesque-Black.woff") format("woff"), url("../fonts/BrandonBlack/BrandonGrotesque-Black.ttf") format("truetype");
}
@font-face {
  font-family: "BrandonBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BrandonBold/BrandonGrotesque-Bold.eot");
  src: url("../fonts/BrandonBold/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonBold/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonBold/BrandonGrotesque-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BrandonLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BrandonLight/BrandonGrotesque-Light.eot");
  src: url("../fonts/BrandonLight/BrandonGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonLight/BrandonGrotesque-Light.woff") format("woff"), url("../fonts/BrandonLight/BrandonGrotesque-Light.ttf") format("truetype");
}
@font-face {
  font-family: "BrandonMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BrandonMedium/BrandonGrotesque-Medium.eot");
  src: url("../fonts/BrandonMedium/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonMedium/BrandonGrotesque-Medium.woff") format("woff"), url("../fonts/BrandonMedium/BrandonGrotesque-Medium.ttf") format("truetype");
}
/*GENERAL STYLES START */
/* line 4, ../sass/main.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 6, ../sass/main.sass */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 9, ../sass/main.sass */
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

/* line 13, ../sass/main.sass */
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

/* line 17, ../sass/main.sass */
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

/* line 21, ../sass/main.sass */
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

/* line 25, ../sass/main.sass */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

/* line 28, ../sass/main.sass */
body input:required:valid,
body textarea:required:valid {
  color: #666;
}

/* line 32, ../sass/main.sass */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/main.sass */
body {
  font-size: 16px;
  min-width: 320px;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
  position: relative;
  line-height: 1.4;
  font-family: "BrandonMedium", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fff;
}

/* line 50, ../sass/main.sass */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

/* line 54, ../sass/main.sass */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@-webkit-keyframes buttonBlink {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #ff3d4c;
            box-shadow: 0px 0px 0px 0px #ff3d4c;
  }
  50% {
    -webkit-box-shadow: 0px 0px 7px 0px #ff3d4c;
            box-shadow: 0px 0px 7px 0px #ff3d4c;
  }
  to {
    -webkit-box-shadow: 0px 0px 0px 0px #ff3d4c;
            box-shadow: 0px 0px 0px 0px #ff3d4c;
  }
}

@keyframes buttonBlink {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #ff3d4c;
            box-shadow: 0px 0px 0px 0px #ff3d4c;
  }
  50% {
    -webkit-box-shadow: 0px 0px 7px 0px #ff3d4c;
            box-shadow: 0px 0px 7px 0px #ff3d4c;
  }
  to {
    -webkit-box-shadow: 0px 0px 0px 0px #ff3d4c;
            box-shadow: 0px 0px 0px 0px #ff3d4c;
  }
}
@-webkit-keyframes textColorChange {
  from {
    color: rgba(0, 0, 0, 0.9);
  }
  25% {
    color: rgba(200, 50, 50, 0.9);
  }
  50% {
    color: rgba(50, 200, 50, 0.9);
  }
  75% {
    color: rgba(50, 50, 200, 0.9);
  }
  to {
    color: rgba(0, 0, 0, 0.9);
  }
}
@keyframes textColorChange {
  from {
    color: rgba(0, 0, 0, 0.9);
  }
  25% {
    color: rgba(200, 50, 50, 0.9);
  }
  50% {
    color: rgba(50, 200, 50, 0.9);
  }
  75% {
    color: rgba(50, 50, 200, 0.9);
  }
  to {
    color: rgba(0, 0, 0, 0.9);
  }
}
/*GENERAL STYLES END */
/*TOP LINE STYLES START */
/* line 92, ../sass/main.sass */
.top-line {
  background-color: #FFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "BrandonMedium", sans-serif;
  position: relative;
}
/* line 100, ../sass/main.sass */
.top-line__content {
  margin-top: 10px;
  padding-top: 6px;
  width: 100%;
  display: none;
}
/* line 106, ../sass/main.sass */
.top-line .ip-panel {
  max-width: 350px;
  margin: 0 auto 10px;
  padding: 5px 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
}
/* line 116, ../sass/main.sass */
.top-line .ip-panel span:first-child {
  font-family: "BrandonBold", sans-serif;
  display: inline-block;
  margin-right: 9px;
}
/* line 120, ../sass/main.sass */
.top-line .ip-panel span:last-child {
  -webkit-animation: textColorChange 5s 1s infinite;
          animation: textColorChange 5s 1s infinite;
}

/* line 123, ../sass/main.sass */
.btn-wrap {
  text-align: center;
}

/* line 125, ../sass/main.sass */
.button {
  padding: 5px 25px;
  background-color: #ff3d4c;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: buttonBlink 2s infinite;
          animation: buttonBlink 2s infinite;
  text-decoration: none;
}
/* line 136, ../sass/main.sass */
.button:hover {
  -webkit-animation: none;
          animation: none;
  -webkit-box-shadow: 0px 0px 10px #ff3d4c, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 10px #ff3d4c, inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
}

/* line 140, ../sass/main.sass */
.logo {
  max-width: 115px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

/* line 146, ../sass/main.sass */
.logo__img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 151, ../sass/main.sass */
.toggle-btn {
  width: 40px;
  height: 40px;
  background: url("../img/toggle-btn.png") no-repeat center center;
  position: absolute;
  top: 7px;
  right: 1%;
  z-index: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 163, ../sass/main.sass */
.toggle-btn.on {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

/*TOP LINE STYLES END */
/*PAGE STYLES START */
/* line 185, ../sass/main.sass */
.page {
  position: relative;
  overflow: hidden;
  background-color: #98b0f0;
  background: url("../img/bg-mob.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 1;
}
/* line 193, ../sass/main.sass */
.page:before {
  content: "";
  display: block;
  width: 614px;
  height: 481px;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/fingers.png") no-repeat;
  background-position: center bottom;
  background-size: 48%;
  z-index: -1;
}
/* line 207, ../sass/main.sass */
.page__container {
  width: 100%;
  padding: 1em;
}

/* line 211, ../sass/main.sass */
h1 {
  margin: 10px 0 0 0;
  padding: 0 21px;
  font: 1.875em "BrandonBold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

/* line 221, ../sass/main.sass */
.advantages {
  margin-top: 300px;
  color: #FFF;
  font-size: 1.125em;
}
/* line 225, ../sass/main.sass */
.advantages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}
/* line 229, ../sass/main.sass */
.advantages .svg-wrap {
  width: 25%;
  margin-right: 10px;
}
/* line 233, ../sass/main.sass */
.advantages .svg-wrap img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 45px;
  max-height: 45px;
}
/* line 240, ../sass/main.sass */
.advantages__text {
  display: block;
  width: 75%;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: normal;
}

/* line 249, ../sass/main.sass */
.table-wrap {
  margin-top: 19px;
  position: relative;
}

/* line 253, ../sass/main.sass */
.purchase {
  margin-bottom: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font: 1.125em "BrandonLight", sans-serif;
}

/* line 259, ../sass/main.sass */
.table-pricing {
  width: 90%;
  margin: 0 auto 23px;
  padding-top: 20px;
  border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0 7px 53.1px 5.9px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 53.1px 5.9px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 1;
}
/* line 271, ../sass/main.sass */
.table-pricing:first-of-type .price-new {
  color: #3377C1;
}
/* line 274, ../sass/main.sass */
.table-pricing:nth-of-type(2) .price-new {
  color: #214EA7;
}
/* line 277, ../sass/main.sass */
.table-pricing:last-of-type .price-new {
  color: #4D93D5;
}
/* line 281, ../sass/main.sass */
.table-pricing:hover .popular {
  opacity: 1;
  width: 72%;
}
/* line 284, ../sass/main.sass */
.table-pricing:hover .price-new {
  font-size: 58px;
  line-height: 56px;
}
/* line 287, ../sass/main.sass */
.table-pricing:hover .price-new .symbol, .table-pricing:hover .price-new .time {
  line-height: 39px;
}
/* line 289, ../sass/main.sass */
.table-pricing:hover .pricing__button {
  display: block;
}

/* line 293, ../sass/main.sass */
.recomend .popular {
  opacity: 1;
  width: 72%;
}
/* line 296, ../sass/main.sass */
.recomend .price-new {
  font-size: 58px;
  line-height: 56px;
}
/* line 299, ../sass/main.sass */
.recomend .price-new .symbol, .recomend .price-new .time {
  line-height: 39px;
}
/* line 301, ../sass/main.sass */
.recomend .pricing__button {
  display: block;
}

/* line 308, ../sass/main.sass */
.table-pricing h3 {
  margin: 0 0 10px 0;
  font: 14px "BrandonMedium", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #4e8dcf;
  letter-spacing: 2px;
}

/* line 316, ../sass/main.sass */
.date {
  font-size: 18px;
  font-family: "BrandonBold", sans-serif;
  margin: 0;
}

/* line 321, ../sass/main.sass */
.price {
  font-family: "BrandonBlack", sans-serif;
  margin: 0;
}
/* line 324, ../sass/main.sass */
.price .symbol, .price .time {
  font-family: "BrandonMedium", sans-serif;
  vertical-align: top;
  line-height: 30px;
}
/* line 328, ../sass/main.sass */
.price .time {
  vertical-align: bottom;
}

/* line 331, ../sass/main.sass */
.price-new {
  min-height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  font-size: 46px;
  line-height: 40px;
}
/* line 339, ../sass/main.sass */
.price-new .symbol, .price-new .time {
  font-size: 30px;
  line-height: 31px;
}

/* line 344, ../sass/main.sass */
.price-old {
  font-size: 30px;
  color: #FFF;
  position: relative;
}
/* line 348, ../sass/main.sass */
.price-old:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 3.5em;
  height: 2px;
  background-color: #FF3D4C;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 358, ../sass/main.sass */
.price-old .symbol {
  font-size: 26px;
}
/* line 360, ../sass/main.sass */
.price-old .time {
  font-size: 18px;
}

/* line 365, ../sass/main.sass */
.table-pricing .btn-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
          transform: translate(-50%, 40%);
}

/* line 371, ../sass/main.sass */
.pricing__button {
  width: 215px;
  height: 40px;
  padding: 1em 0;
  display: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 379, ../sass/main.sass */
.popular {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  padding: 2px 0;
  font: 15px "BrandonBold", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  background-color: #ff3d4c;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 6px;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/*PAGE STYLES END */
@media only screen and (min-width: 480px) {
  /* line 405, ../sass/main.sass */
  .container {
    max-width: 450px;
  }

  /* line 409, ../sass/main.sass */
  .top-line .ip-panel {
    margin: 0 auto 20px;
    width: 80%;
  }

  /* line 414, ../sass/main.sass */
  .page:before {
    top: -60px;
  }
}
@media only screen and (min-width: 576px) {
  /* line 422, ../sass/main.sass */
  .container {
    max-width: 540px;
  }

  /* line 426, ../sass/main.sass */
  .page:before {
    top: -100px;
  }

  /* line 429, ../sass/main.sass */
  .advantages {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 434, ../sass/main.sass */
  .table-pricing {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 445, ../sass/main.sass */
  .container {
    max-width: 720px;
  }

  /* line 448, ../sass/main.sass */
  .top-line {
    min-height: 70px;
  }
  /* line 450, ../sass/main.sass */
  .top-line__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 454, ../sass/main.sass */
  .top-line .logo {
    line-height: 1em;
  }
  /* line 456, ../sass/main.sass */
  .top-line__content {
    margin-top: 0;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 462, ../sass/main.sass */
  .top-line .ip-panel {
    margin: 0 20px 0 0;
    width: auto;
    min-width: 260px;
  }
  /* line 467, ../sass/main.sass */
  .top-line .ip-panel span:first-child {
    margin-right: 5px;
  }
  /* line 469, ../sass/main.sass */
  .top-line .button {
    font-size: 11px;
    padding: 5px 20px;
  }

  /* line 473, ../sass/main.sass */
  .toggle-btn {
    display: none;
  }

  /* line 476, ../sass/main.sass */
  .page {
    padding-top: 15px;
    padding-bottom: 30px;
    background-image: url("../img/bg.jpg");
  }
  /* line 480, ../sass/main.sass */
  .page::before {
    top: 11%;
    left: 14%;
    background-size: 88%;
  }
  /* line 485, ../sass/main.sass */
  .page h1 {
    font-size: 2.75em;
    padding: 0;
    line-height: 1.2;
  }

  /* line 490, ../sass/main.sass */
  .advantages {
    width: 45%;
    margin: 20px 0 0 auto;
    z-index: 1;
  }
  /* line 494, ../sass/main.sass */
  .advantages li {
    margin-bottom: 22px;
  }
  /* line 496, ../sass/main.sass */
  .advantages li.advantages__text {
    width: 65%;
  }
  /* line 499, ../sass/main.sass */
  .advantages .svg-wrap img {
    width: 52px;
    height: 52px;
  }

  /* line 504, ../sass/main.sass */
  .purchase {
    margin: 0;
    text-align: right;
  }

  /* line 508, ../sass/main.sass */
  .table-wrap {
    margin-top: 45px;
    min-height: 250px;
  }

  /* line 512, ../sass/main.sass */
  .table-pricing {
    display: block;
    width: 220px;
    height: 225px;
    margin-bottom: 0;
    position: absolute;
  }
  /* line 518, ../sass/main.sass */
  .table-pricing:first-of-type {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  /* line 521, ../sass/main.sass */
  .table-pricing:nth-of-type(2) {
    left: 0;
  }
  /* line 523, ../sass/main.sass */
  .table-pricing:last-of-type {
    right: 0;
  }
  /* line 525, ../sass/main.sass */
  .table-pricing.table-center {
    z-index: 2;
  }
  /* line 529, ../sass/main.sass */
  .table-pricing.recomend .popular, .table-pricing:hover .popular {
    width: 85%;
  }
  /* line 532, ../sass/main.sass */
  .table-pricing .price-new {
    min-height: 110px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  /* line 537, ../sass/main.sass */
  .table-pricing .popular {
    width: 75%;
  }
  /* line 540, ../sass/main.sass */
  .table-pricing .btn-wrap {
    width: 215px;
    max-width: 85%;
  }
  /* line 543, ../sass/main.sass */
  .table-pricing .btn-wrap .pricing__button {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 555, ../sass/main.sass */
  .container {
    max-width: 960px;
  }

  /* line 558, ../sass/main.sass */
  .table-wrap {
    width: 75%;
    margin: 75px auto 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 568, ../sass/main.sass */
  .container {
    max-width: 1200px;
  }

  /* line 573, ../sass/main.sass */
  .top-line .country-ic {
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 100% 3px;
    margin-right: 15px;
  }
  /* line 581, ../sass/main.sass */
  .top-line .ip-panel {
    margin-right: 40px;
    width: auto;
    min-width: 310px;
  }
  /* line 586, ../sass/main.sass */
  .top-line .button {
    font-size: 13px;
    padding: 12px 25px;
    font-weight: normal;
  }

  /* line 592, ../sass/main.sass */
  .page::before {
    left: 11%;
    top: 14%;
  }
  /* line 596, ../sass/main.sass */
  .page__content {
    width: 65%;
    margin-left: auto;
  }
  /* line 599, ../sass/main.sass */
  .page h1 {
    padding: 0 1em;
    line-height: 1.1;
  }

  /* line 603, ../sass/main.sass */
  .advantages {
    width: 100%;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* line 608, ../sass/main.sass */
  .advantages li {
    width: 30%;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 613, ../sass/main.sass */
  .advantages .svg-wrap {
    margin: 0 0 10px 0;
  }
  /* line 615, ../sass/main.sass */
  .advantages .advantages__text {
    text-align: center;
  }

  /* line 618, ../sass/main.sass */
  .table-wrap {
    width: 100%;
    margin: 0;
  }

  /* line 622, ../sass/main.sass */
  .table-pricing {
    width: 245px;
  }
}
@media only screen and (min-width: 1400px) {
  /* line 627, ../sass/main.sass */
  .page::before {
    left: 16%;
  }
}
